.notfound{
    padding-top: 28vh;
    img{
        display: block;
        height: 4rem;
        margin: 0 auto .5rem;
    }
    div{
        font-size: .45rem;
        line-height: .68rem;
        text-align: center;
    }
    a{
        font-size: .3rem;
        line-height: .68rem;
        text-align: center;
        color: #0b72a4 !important;
        margin-top: 0.4rem;
    }
}