/* 
    rem 是根据html的文字大小来计算的
    移动端设计图宽750px，让1em=100px，则整个宽度为7.5rem 
    100vw  也要分成7.5等分，   每一等分= 100vw / 7.5 =13.3333vw = 1 rem
*/
html{
    font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    -webkit-font-smoothing: antialiased;  /*chrome、safari  抗锯齿渲染可以使字体看起来会更清晰舒服*/
    -moz-osx-font-smoothing: grayscale;/*firefox*/
    -webkit-text-size-adjust: 100%; /* 解决默认会放大文字的问题 */
    text-size-adjust: none;
    color: #333;
    -webkit-user-select: none;
    user-select: none;
    font-size: 13.3333vw;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
}
img{
    vertical-align: top;
}
li{
    list-style: none;
}

/* .App{
    height: 100rem;
} */

.active{
    color: #ff6700 !important;
}